* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.bg-image {
    background-image: url(https://images.unsplash.com/photo-1515335889486-345839b9ba95?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 50px auto;
    width: 900px;
    height: 700px;
    font-family: Arial, Helvetica, sans-serif;
}
.box {
    display: block;
    background-color: rgb(228, 226, 226);
    width:30%;
    height: 45%;
    border-radius: 20px 0px 20px 20px;
    position:absolute;
    left: 25%;
    top: 43%
}
h1 {
    margin-left: 15px;
    font-weight:bolder;
    padding-top: 30px;
}
.text {
    margin-left: 15px;
    color: gray;
    margin-top: 15px;
}
.from {
    margin-left: 15px;
    margin-top: 15px;
    color: gray;
}
u {
   font-weight: bold; 
}
a {
    display: inline-block;
    height: 40px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 8px;
    margin-top: 24px;
    margin-left: 15px;
    border-radius: 20px;
    background-color: rgb(116, 163, 94)
}

